{
	BBEditDocumentType = "CodelessLanguageModule";
	BBLMColorsSyntax = YES;
	BBLMIsCaseSensitive = YES;
	BBLMKeywordList = (
		deck,
		edeck,
		canvas,
		slide,
		eslide,
		text,
		ctext,
		etext,
		textblock,
		textcode,
		textfile,
		image,
		cimage,
		list,
		blist,
		nlist,
		elist,
		li,
		ellipse,
		rect,
		circle,
		square,
		polygon,
		line,
		vline,
		hline,
		arc,
		curve,
		arrow,
		rcarrow,
		lcarrow,
		ucarrow,
		dcarrow,
		dchart,
		chart,
		for,
		efor
	);
	BBLMLanguageCode = "dsh";
	BBLMLanguageDisplayName = "decksh";
	BBLMSuffixMap = (
		{
			BBLMLanguageSuffix = ".sh";
			BBLMLanguageSuffix = ".dsh";
		},
	);
	"Language Features" = {
		"End-of-line Ends Strings" = YES;
		"Identifier and Keyword Characters" = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz";
		"Open Line Comments" = "//";
		"Open Strings 1"  = "\"";
		"Close Strings 1" = "\"";
	};
}
